{{!< default}}
{{# each data.posts.results}}
	<div class="post">
		<h2>{{ title }}</h2>
		<time datetime="{{{date publishedDate format='YYYY-MM-DD'}}}">{{{date publishedDate format='YYYY-MM-DD'}}}</time>
		<hr>
		{{{ content.extended.html }}}
	</div>
{{/each}}
